<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 class="title ">• DYNKAL •</h1>
                <h5>Tu sala de juegos favorita</h5>
            </div>
            <div class="col-md-4">
                <ul class="nav">
                    <li class="nav-item">
                        <a routerLink='' class="nav-link">
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            Juego 1
                        </a>
                    </li>                                       
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="nav">
                    <li class="nav-item">
                        <a routerLink="contactame" class="nav-link">
                            Contactame
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="about-me" class="nav-link">
                            Sobre mi
                        </a>
                    </li>                    
                    <li class="nav-item">
                        <a href="https://opensource.org/licenses/MIT" class="nav-link">
                            License
                        </a>
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</footer>